<!doctype html>
<html 
xmlns:th="http://www.thymeleaf.org" 
xmlns="http://www.w3.org/1999/xhtml">

<th:block th:fragment="scripts">

 <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/libs/chart.js/dist/Chart.min.js}"></script>
    <script th:src="@{/assets/libs/chart.js/Chart.extension.min.js}"></script>
    <script th:src="@{/assets/libs/highlight/highlight.pack.min.js}"></script>
    <script th:src="@{/assets/libs/flatpickr/dist/flatpickr.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-mask-plugin/dist/jquery.mask.min.js}"></script>
    <script th:src="@{/assets/libs/list.js/dist/list.min.js}"></script>
    <script th:src="@{/assets/libs/quill/dist/quill.min.js}"></script>
    <script th:src="@{/assets/libs/dropzone/dist/min/dropzone.min.js}"></script>
    <script th:src="@{/assets/libs/select2/dist/js/select2.min.js}"></script>

    <!-- Theme JS -->
    <script th:src="@{/assets/js/theme.min.js}"></script>

</th:block>

</html>