<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
th:lang="${#locale.language}">
<head>
<meta charset="UTF-8">
</head>
<body>

	<nav class="navbar navbar-expand-md navbar-light bg-white d-none d-md-flex" th:fragment="topbar">
        <div class="container-fluid">

          <!-- Brand -->
          <a class="navbar-brand mr-auto" href="#">
            JointedTrust
          </a>
          
          <!-- Search Form -->
          <form th:replace="fragments/search.html :: searchForm"></form>

          <!-- User -->
          <div class="navbar-user">
      
            <!-- User's Notifications -->
            <div th:replace="fragments/notifications.html :: notifications"></div>

            <!-- Dropdown -->
            <div th:replace="fragments/usermenu.html :: usermenu"></div>

          </div>
  
        </div> <!-- / .container-fluid -->
      </nav>	

</body>
</html>