<!doctype html>
<html 
xmlns:th="http://www.thymeleaf.org" 
xmlns="http://www.w3.org/1999/xhtml"
th:lang="${#locale.language}">
<head th:insert="fragments/head.html :: head('JointedTrust :: Confirmação de Cadastro')"></head>

<body>
	
	<div class="main-content">
		<div class="container-fluid">
			<div class="row justify-content-center">

				<div class="col-12 col-lg-10 col-xl-8">
		            <form th:action="@{/account/confirm}" method="POST" th:object="${user}">
		            <!-- Header -->
		            <div class="header mt-md-5">
		              <div class="header-body">
		                <div class="row align-items-center">
		                  <div class="col">
		                    
		                    <!-- Pretitle -->
		                    <h6 class="header-pretitle">
		                      <span th:text="#{pages.confirmation.header.pretitle}"></span>
		                    </h6>
		
		                    <!-- Title -->
		                    <h1 class="header-title">
		                      <span th:text="#{pages.confirmation.header.title(${nameofuser})}"> </span>
		                    </h1>
		
		                  </div>
		                  <div class="col-auto">
		                  	<input id="guid" type="hidden" th:field="*{guid}">
		                    <!-- Confirmation Button -->
		                  	<button type="submit" class="btn btn-primary ml-2">
		                      <span th:text="#{pages.confirmation.button.confirm}"></span>
		                    </button>
		                  </div>
		                </div> <!-- / .row -->
		              </div>
		            </div>
					</form>
		            
		            	
		           		<!-- Content -->
            			<div class="card card-body p-5">
            				<div class="row">
            					
            					<div class="col text-center">
            					
            					<!-- Title -->
			                    <h2 class="mb-2">
			                      <span th:text="#{pages.confirmation.body.text}"></span>
			                    </h2>
			                    
			                    </div>
            					
            				</div>
            			
            			</div>
		            
					
				</div>
			
			</div>		
		</div>
	</div>
	
	<th:block th:include="fragments/scripts.html"></th:block>

</body>
</html>