<!doctype html>
<html 
xmlns:th="http://www.thymeleaf.org" 
xmlns="http://www.w3.org/1999/xhtml"
th:lang="${#locale.language}">

  <head th:insert="fragments/head.html :: head('JointedTrust :: Login')"></head>
  <body class="d-flex align-items-center bg-white border-top-2 border-primary">

    <!-- CONTENT
    ================================================== -->
    <div class="container-fluid">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-6 my-5">
              
          <!-- Heading -->
          <h1 class="display-4 text-center mb-3">
			<span th:text="#{pages.loginpage.title.greeting}"></span>
          </h1>
          
          <!-- Subheading -->
          <p class="text-muted text-center mb-5">
			<span th:text="#{pages.loginpage.title.subtitle}"></span>
          </p>
          
          <!-- Form -->
          <form>

            <!-- Email address -->
            <div class="form-group">

              <!-- Label -->
              <label><span th:text="#{pages.loginpage.form.field.email}"></span></label>

              <!-- Input -->
              <input type="email" class="form-control" th:placeholder="#{pages.loginpage.form.placeholder.email}">

            </div>

            <!-- Password -->
            <div class="form-group">

              <div class="row">
                <div class="col">
                      
                  <!-- Label -->
                  <label><span th:text="#{pages.loginpage.form.field.password}"></span></label>

                </div>
                <div class="col-auto">
                  
                  <!-- Help text -->
                  <a href="password-reset-cover.html" class="form-text small text-muted">
                    <span th:text="#{pages.loginpage.form.link.resetpassword}"></span>
                  </a>

                </div>
              </div> <!-- / .row -->

              <!-- Input group -->
              <div class="input-group input-group-merge">

                <!-- Input -->
                <input type="password" class="form-control form-control-appended" th:placeholder="#{pages.loginpage.form.placeholder.password}">

                <!-- Icon -->
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fe fe-eye"></i>
                  </span>
                </div>

              </div>
            </div>
            
            <!-- Language Selector -->
            <div class="form-group">

              <!-- Label -->
              <label><span th:text="#{pages.loginpage.form.field.selectlang}"></span></label>

              <!-- Select -->
              <select class="form-control" id="locales">
              	<option value=""></option>
              	<option value="pt" th:text="#{lang.pt}"></option>
              	<option value="en" th:text="#{lang.en}"></option>
              	<option value="es" th:text="#{lang.es}"></option>
              </select>

            </div>

            <!-- Submit -->
            <button class="btn btn-lg btn-block btn-primary mb-3">
              <span th:text="#{pages.loginpage.form.button.signin}"></span>
            </button>

            <!-- Link -->
            <p class="text-center">
              <small class="text-muted text-center">
                <span th:text="#{pages.loginpage.form.link.signup.question}"></span> <a href="sign-up-cover.html"><span th:text="#{pages.loginpage.form.link.signup}"></span></a>.
              </small>
            </p>
            
          </form>

        </div>
        <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">
          
          <!-- Image -->
          <div class="bg-cover vh-100 mt--1 mr--3" style="background-image: url(../assets/img/covers/collaboration.jpg);"></div>

        </div>
      </div> <!-- / .row -->
    </div>

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
    <script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/libs/chart.js/dist/Chart.min.js}"></script>
    <script th:src="@{/assets/libs/chart.js/Chart.extension.min.js}"></script>
    <script th:src="@{/assets/libs/highlight/highlight.pack.min.js}"></script>
    <script th:src="@{/assets/libs/flatpickr/dist/flatpickr.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-mask-plugin/dist/jquery.mask.min.js}"></script>
    <script th:src="@{/assets/libs/list.js/dist/list.min.js}"></script>
    <script th:src="@{/assets/libs/quill/dist/quill.min.js}"></script>
    <script th:src="@{/assets/libs/dropzone/dist/min/dropzone.min.js}"></script>
    <script th:src="@{/assets/libs/select2/dist/js/select2.min.js}"></script>

    <!-- Theme JS -->
    <script th:src="@{/assets/js/theme.min.js}"></script>
    
    <script type="text/javascript">
    $(document).ready(function(){
    	$("#locales").change(function(){
    		var selectedOption = $('#locales').val();
    		if(selectedOption != ''){
    			window.location.replace('login?lang=' + selectedOption);
    		}
    	});
    });
    </script>

  </body>
</html>