<!doctype html>
<html 
xmlns:th="http://www.thymeleaf.org" 
xmlns="http://www.w3.org/1999/xhtml"
th:lang="${#locale.language}">

  <head th:insert="fragments/head.html :: head('JointedTrust :: Login')"></head>
  <body class="d-flex align-items-center bg-white border-top-2 border-primary">

<div class="alert alert-dismissable alert-danger bad-login"
		th:if="${param.error != null}">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<!-- The real error is included as a tooltip, i.e. the title attribute. -->
		<p th:title="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">Invalid
			username or password.</p>
	</div>

    <!-- CONTENT
    ================================================== -->
    <div class="container-fluid">
      <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-6 my-5">
              
          <!-- Heading -->
          <h1 class="display-4 text-center mb-3">
			<span th:text="#{pages.login.title.greeting}"></span>
          </h1>
          
          <!-- Subheading -->
          <p class="text-muted text-center mb-5">
			<span th:text="#{pages.login.title.subtitle}"></span>
          </p>
          
          <div class="alert alert-success" th:if="${registrationMessage}" th:text="${registrationMessage}"></div>
          <div class="alert alert-danger text-center" th:if="${param.error}">
			  <span th:text="#{valid.user.error.login.failed}"></span>
		  </div>
          
          <!-- Form -->
          <form th:action="@{/login}" method="POST" th:prependId="false">

            <!-- Email address -->
            <div class="form-group">

              <!-- Label -->
              <label><span th:text="#{pages.common.form.field.username}"></span></label>

              <!-- Input -->
              <input type="text" class="form-control" id="username" name="username" th:placeholder="#{pages.common.form.placeholder.username}">

            </div>

            <!-- Password -->
            <div class="form-group">

              <div class="row">
                <div class="col">
                      
                  <!-- Label -->
                  <label><span th:text="#{pages.common.form.field.password}"></span></label>

                </div>
                <div class="col-auto">
                  
                  <!-- Help text -->
                  <a href="password-reset-cover.html" class="form-text small text-muted">
                    <span th:text="#{pages.login.form.link.resetpassword}"></span>
                  </a>

                </div>
              </div> <!-- / .row -->

              <!-- Input group -->
              <div class="input-group input-group-merge">

                <!-- Input -->
                <input type="password" id="password" name="password" class="form-control form-control-appended" th:placeholder="#{pages.common.form.placeholder.password}">

                <!-- Icon -->
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="fe fe-eye"></i>
                  </span>
                </div>

              </div>
            </div>
            
            <!-- Language Selector -->
            <div class="form-group">

              <!-- Label -->
              <label><span th:text="#{pages.login.form.field.selectlang}"></span></label>

              <!-- Select -->
              <select class="form-control" id="locales" data-toggle="select">
              	<option value="" th:text="#{lang.choose}"></option>
              	<option value="pt" th:text="#{lang.pt}"></option>
              	<option value="en" th:text="#{lang.en}"></option>
              	<option value="es" th:text="#{lang.es}"></option>
              </select>

            </div>

            <!-- Submit -->
            <button class="btn btn-lg btn-block btn-primary mb-3">
              <span th:text="#{pages.login.form.button.signin}"></span>
            </button>

            <!-- Link -->
            <p class="text-center">
              <small class="text-muted text-center">
                <span th:text="#{pages.login.form.link.signup.question}"></span> <a th:href="@{/account/signup}"><span th:text="#{pages.login.form.link.signup}"></span></a>.
              </small>
            </p>
            
          </form>

        </div>
        <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">
          
          <!-- Image -->
          <div class="bg-cover vh-100 mt--1 mr--3" style="background-image: url(../assets/img/covers/collaboration.jpg);"></div>

        </div>
      </div> <!-- / .row -->
    </div>

   	<th:block th:include="fragments/scripts.html"></th:block>
   	
    <script type="text/javascript">
    $(document).ready(function(){
    	$("#locales").change(function(){
    		var selectedOption = $('#locales').val();
    		if(selectedOption != ''){
    			window.location.replace('login?lang=' + selectedOption);
    		}
    	});
    });
    </script>

  </body>
</html>