<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
th:lang="${#locale.language}">
<head th:insert="fragments/head.html :: head('JointedTrust')"></head>
<body th:fragment="basicLayout">

	<nav th:replace="fragments/sidebar.html :: sidebar"></nav>
	
	<div class="main-content">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-10 col-xl-8">
				
					<!-- Header of page -->
					<div class="header mt-md-5">
						<div class="header-body">
							<div class="row align-items-center">
								<div class="col">
									<!-- Header Pretitle -->
									<h6 class="header-pretitle">
										<span th:text="#{pages.profile.header.pretitle}"></span>
									</h6>
									<!-- Header Title -->
									<h1 class="header-title">
										<span th:text="#{pages.profile.header.title}"></span>
									</h1>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Form -->
					<form class="dropzone mb-4" th:action="@{/profile/update}" th:object="${profile}" enctype="multipart/form-data" method="POST" id="dropzone-form">
						
						<!-- Username -->
						<div class="form-group">
							<label><span th:text="#{pages.profile.form.field.username}"></span></label>
							<input type="text" class="form-control" readonly="readonly" th:value="${username}">
						</div>
						
						<div class="row">
							<div class="col-12 col-md-6">
								<!-- Name -->
								<div class="form-group">
									<label><span th:text="#{pages.profile.form.field.name}"></span></label>
									<input type="text" class="form-control" th:field="*{name}">
								</div>
							</div>
							<div class="col-12 col-md-6">
								<!-- Last Name -->
								<div class="form-group">
									<label><span th:text="#{pages.profile.form.field.lastname}"></span></label>
									<input type="text" class="form-control" th:field="*{lastname}">
								</div>
							</div>
						</div>
						
						<!-- Username -->
						<div class="form-group">
							<label><span th:text="#{pages.profile.form.field.email}"></span></label>
							<input type="text" class="form-control" th:value="*{email}">
							<small class="form-text text-muted"><span th:text="#{pages.profile.form.field.email.subtitle}"></span></small>
						</div>
						
						<div class="row">
							<div class="col-12 col-md-6">
								<!-- Phone Number -->
								<div class="form-group">
									<label><span th:text="#{pages.profile.form.field.phonenumber}"></span></label>
									<input type="text" class="form-control" th:field="*{phonenumber}" data-mask="(00)00000-0000">
								</div>
							</div>
							<div class="col-12 col-md-6">
								<!-- Birthday -->
								<div class="form-group">
									<label><span th:text="#{pages.profile.form.field.birthday}"></span></label>
									<input type="text" class="form-control flatpickr-input" data-toggle="flatpickr" readonly="readonly" th:field="*{birthday}">
								</div>
							</div>
						</div>
						
						<!-- Job Position -->
						<div class="form-group">
							<label><span th:text="#{pages.profile.form.field.jobposition}"></span></label>
							<input type="text" class="form-control" th:field="*{jobposition}">
						</div>
						
						<!-- Divider -->
						<hr class="mt-4 mb-5">
						
						<div class="row">
							<div class="col-12 col-md-6">
								<!-- Upload Profile Photo -->
<!-- 								<div class="form-group"> -->
<!-- 									<div class="dropzoneUpload"></div> -->
<!-- 								</div> -->
<!-- 									<div class="form-group"> -->
<!-- 										<label class="mb-1"><span th:text="#{pages.profile.form.field.photo}"></span></label> -->
<!-- 										<small class="form-text text-muted"><span th:text="#{pages.profile.form.field.photo.subtitle}"></span></small> -->
<!-- 										<div class="dropzone dropzone-single mb-3" data-toggle="dropzone" data-dropzone-url="http://"> -->
<!-- 											<div class="dz-preview dz-preview-single"> -->
<!-- 												<img class="dz-preview-img" data-dz-thumbnail> -->
<!-- 											</div> -->
<!-- 										</div> -->
<!-- 									</div> -->
									
								<div class="form-group">
									<label class="mb-1"><span th:text="#{pages.profile.form.field.photo}"></span></label>
									<small class="form-text text-muted"><span th:text="#{pages.profile.form.field.photo.subtitle}"></span></small>
									<div class="dropzone dropzone-single mb-3" data-toggle="dropzone" data-dropzone-url="http://">
										<div class="fallback">
											<div class="custom-file">
												<input type="file" class="custom-file-input" id="file">
												<label class="custom-file-label" for="file">Choose file</label>
											</div>
										</div>
										
										<div class="dz-preview dz-preview-single">
											<div class="dz-preview-cover">
												<img class="dz-preview-img" data-dz-thumbnail>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6 order-md-2">
								<!-- Upload Instructions Card -->
								<div class="card bg-light border ml-md-4">
									<div class="card-body">
										<p class="mb-2"><span th:text="#{pages.profile.upload.instructions.title}"></span></p>
										<p class="small text-muted mb-2"><span th:text="#{pages.profile.upload.instructions.subtitle}"></span></p>
										<ul class="small text-muted pl-4 mb-0">
											<li><span th:text="#{pages.profile.upload.instructions.1}"></span></li>
											<li><span th:text="#{pages.profile.upload.instructions.2}"></span></li>
											<li><span th:text="#{pages.profile.upload.instructions.3}"></span></li>
											<li><span th:text="#{pages.profile.upload.instructions.4}"></span></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Divider -->
						<hr class="mt-4 mb-5">
						
						<!-- Submit Button -->
						<button type="submit" class="btn btn-block btn-primary" id="submit">
							<span th:text="#{pages.profile.form.button.submit}"></span>
						</button>
						
						<!-- Cancel Button -->
						<a href="#" class="btn btn-block btn-link text-muted">
							<span th:text="#{pages.profile.form.button.cancel}"></span>
						</a>
						
						
					</form>
				
				</div>
			</div>		
		</div>
	</div>
	
	
	<th:block th:include="fragments/scripts.html"></th:block>
	
	<script>
		/*
		$(document).ready(function(){
			
			$(".file-dropzone").on('dragover', handleDragEnter);
			$(".file-dropzone").on('dragleave', handleDragLeave);
			$(".file-dropzone").on('drop', handleDragLeave);
			
			function handleDragEnter(e) {
			
			       this.classList.add('drag-over');
			}
			
			function handleDragLeave(e) {
			
			       this.classList.remove('drag-over');
			}
			
			$("#dropzoneUpload").dropzone({ url: "/profile/upload" });
			
			Dropzone.options.dropzoneForm = {
				paramName: "file",
				autoProcessQueue: false,
				maxFilesize: 2,
				addRemoveLinks: true,
				uploadMultiple: false,
				//previewsContainer: ".dz-preview"
				
				init: function(){
					var myDropzone = this;
					this.element.querySelector("button[type=submit]").addEventListener("click", function(e){
						e.preventDefault();
						e.stopPropagation();
						myDropzone.processQueue();
					});
				}
				
			}
		});
		*/
	</script>

</body>
</html>