<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
th:lang="${#locale.language}">
<head th:insert="fragments/head.html :: head('JointedTrust')"></head>
<body th:fragment="basicLayout">

	<nav th:replace="fragments/sidebar.html :: sidebar"></nav>
	
	<div class="main-content">
	
		<div class="alert alert-success" role="alert" th:if="${successMessage}">
			<span th:text="${successMessage}"></span>
		</div>
		
		<!-- Header -->
		<div class="header">
			<img th:src="@{/assets/img/covers/profile-cover-1.jpg}" class="header-img-top">
			<div class="container-fluid">
				<!-- Header Body-->
				<div class="header-body mt--5 mt-md--6">
					<div class="row align-items-end">
						<div class="col-auto">
							<!-- Avatar -->
							<div class="avatar avatar-xxl header-avatar-top">
								<img th:src="@{/assets/img/avatars/risks/risk-icon.jpg}" class="avatar-img rounded border border-body" style="background-color: white;">
							</div>
						</div>
						<div class="col mb-3 ml--3 ml-md--2">
							<!-- Pretitle -->
							<h6 class="header-pretitle"><span th:text="#{pages.risk.overview.header.pretitle}"></span></h6>
							<!-- Title -->
							<h1 class="header-title"><span th:text="#{pages.risk.overview.header.title}"></span></h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Content -->
		<div data-toggle="lists" data-lists-values="['name']">
			<div class="container-fluid" data-toggle="lists" data-lists-class="listAlias" data-lists-values="['name']">
				<div class="row mb-4">
					<div class="col">
						<form>
							<div class="input-group input-group-lg input-group-merge">
								<input type="text" class="form-control form-control-prepended search" placeholder="Buscar">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<span class="fe fe-search"></span>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>
	
	<th:block th:include="fragments/scripts.html"></th:block>

</body>
</html>