<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
th:lang="${#locale.language}">
<head th:insert="fragments/head.html :: head('JointedTrust')"></head>
<body th:fragment="basicLayout">

	<nav th:replace="fragments/sidebar.html :: sidebar"></nav>
	
	<div class="main-content">
		
		<!--  
		<div class="alert alert-success" role="alert" th:if="${successMessage}">
			<span th:text="${successMessage}"></span>
		</div>
		-->
		
		<!-- Header -->
		<div class="header">
			<img th:src="@{/assets/img/covers/profile-cover-1.jpg}" class="header-img-top">
			<div class="container-fluid">
				<!-- Header Body-->
				<div class="header-body mt--5 mt-md--6">
					<div class="row align-items-end">
						<div class="col-auto">
							<!-- Avatar -->
							<div class="avatar avatar-xxl header-avatar-top">
								<img th:src="@{/assets/img/avatars/risks/risk-icon.jpg}" class="avatar-img rounded border border-body" style="background-color: white;">
							</div>
						</div>
						<div class="col mb-3 ml--3 ml-md--2">
							<!-- Pretitle -->
							<h6 class="header-pretitle"><span th:text="#{pages.risk.overview.header.pretitle}"></span></h6>
							<!-- Title -->
							<h1 class="header-title"><span th:text="#{pages.risk.overview.header.title}"></span></h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Content -->
		<div data-toggle="lists" data-lists-values='["name"]'>
			<div class="container-fluid" data-toggle="lists" data-lists-class="listAlias" data-lists-values='["name"]'>
				<div class="row mb-4">
					<div class="col">
						<form>
							<div class="input-group input-group-lg input-group-merge">
								<input type="text" class="form-control form-control-prepended search" placeholder="Buscar">
								<div class="input-group-prepend">
									<div class="input-group-text">
										<span class="fe fe-search"></span>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-auto">
						<div class="nav btn-group" role="tablist">
							<button class="btn btn-lg btn-white active show" data-toggle="tab" data-target="#tabPaneOne" role="tab" aria-controls="tabPaneOne" aria-selected="true">
								<span class="fe fe-grid"></span>
							</button>
							<button class="btn btn-lg btn-white" data-toggle="tab" data-target="#tabPaneTwo" role="tab" aria-controls="tabPaneTwo" aria-selected="false">
								<span class="fe fe-list"></span>
							</button>
						</div>
					</div>
				</div>
				<div class="tab-content">
					<div class="tab-pane fade active show" id="tabPaneOne" role="tabpanel">
						<div class="row listAlias">
							<div class="col-12 col-md-6 col-xl-4" th:each="risk : ${risks}">
								<div class="card">
									<a href="#">
										<img th:src="@{/assets/img/avatars/projects/project-1.jpg}" class="card-img-top">
									</a>
									<div class="card-body">
										<!-- Basic Info Row -->
										<div class="row align-items-center">
											<div class="col">
												<!-- Card Title -->
												<h4 class="card-title mb-2 name">
													<a th:href="@{/risk/show(guid=${risk.guid})}"><span th:text="${risk.name}"></span></a>	
												</h4>
												<!-- Card Subtitle -->
												<p class="card-text small text-muted">Atualizado ha 4hs</p>
											</div>
											<div class="col-auto">
												<!-- Dropdown Actions Menu -->
												<div class="dropdown">
													<a href="#!" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<i class="fe fe-more-vertical"></i>
													</a>
													<div class="dropdown-menu dropdown-menu-right">
														<a href="#!" class="dropdown-item">Uma Ação</a>
														<a href="#!" class="dropdown-item">Outra Ação</a>
														<a href="#!" class="dropdown-item">Extras</a>
													</div>
												</div>
											</div>
										</div>
										<!-- Divider -->
										<hr>
										<!-- Progress Row -->
										<div class="row align-items-center">
											<div class="col">
												<div class="row align-items-center no-gutters">
													<div class="col-auto">
														<div class="small mr-2">29%</div>
													</div>
													<div class="col">
														<div class="progress progress-sm">
															<div class="progress-bar" role="progressbar" style="width: 29%" aria-valuenow="29" aria-valuemin="0" aria-valuemax="100"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>
	
	<!-- Modal: Response Messages -->
	<div class="modal fade" id="successMessage" tabindex="-1" role="dialog" style="display:none;" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-card card">
					<div class="card-header">
						<div class="row align-items-center">
							<div class="col">
								<!-- Modal Title -->
								<h4 class="card-header-title"><span th:text="${successMessageTitle}"></span></h4>
							</div>
							<div class="col-auto">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span class="fe fe-x-circle mr-4"></span>
								</button>
							</div>				
						</div>
					</div>
					<div class="card-body">
						<div class="alert alert-success" role="alert">
							<span th:text="${successMessage}"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
	
	<th:block th:include="fragments/scripts.html"></th:block>
	
	<script type="text/javascript">
		var showPopup = "[[${successMessage}]]";
		if(showPopup !== undefined && showPopup !== ""){
			$("#successMessage").modal("show");
		}
	</script>

</body>
</html>