<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
th:lang="${#locale.language}">
<head th:insert="fragments/head.html :: head('JointedTrust')"></head>
<body th:fragment="basicLayout">

	<nav th:replace="fragments/sidebar.html :: sidebar"></nav>
	
	<div class="main-content">
		
		<!-- Header -->
		<div class="header">
			<div class="container-fluid">
				
				<!-- Header Body -->
				<div class="header-body">
					<div class="row align-items-center">
						<div class="col-auto">
							<!-- Avatar -->
							<div class="avatar avatar-lg avatar-4by3">
								<img th:src="@{/assets/img/avatars/projects/project-1.jpg}" class="avatar-img rounded">
							</div>
						</div>
						<div class="col ml--3 ml-md--2">
							<!-- Pretitle -->
							<h6 class="header-pretitle">
								<span th:text="#{pages.risk.show.header.pretitle}"></span>							
							</h6>
							
							<!-- Title -->
							<h1 class="header-title">
								<span th:text="${risk.name}"></span>
							</h1>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
	</div>
	
	<th:block th:include="fragments/scripts.html"></th:block>

</body>
</html>